  <div class="container bg-primary my-4 rounded-5">

    <div class="row">
      <h1 class="my-3 align-middle fw-bold d-inline text-white text-center py-0 px-3">Educación   <button  *ngIf ="isLoged==true"class="d-inline btn btn-outline-success btn-sm btn-outline-light py-0" routerLink="/New/educacion" type="submit">    +    </button></h1>
    </div>

    <div class="row">
      <div class="col">
        <div class="card-group ">



          <div *ngFor ="let educacion of educaciones" class="card rounded-5 border-0 mb-3 mx-3 mt-0"><!--*ngIf = "educaciones.length > 0 "-->
            <div class="card-body">

              <div *ngIf="educacion.img">
                <img [src]="educacion.img" class="card-img-top rounded-5" alt="...">
              </div>

              <h2 class="card-title mb-0 mt-3">{{educacion.institucion}}</h2>
              <h6 class="card-subtitle mt-1 mb-3 text-body-secondary text-secondary">{{educacion.titulo}}</h6>
              <p class="card-text mb-0">{{educacion.descripcion}}</p>
              <p class="card-text"><small class="text-muted">{{educacion.estado}}</small></p>
              
              <button *ngIf ="isLoged==true" (click)="deleteEducacion(educacion.id)" class="d-inline btn-danger btn btn-outline-success btn-outline-light py-0" type="submit">borrar</button>
              <button *ngIf ="isLoged==true" class="btn btn-outline-success btn-dark btn-outline-light py-0" routerLink="/EditAndNew/educacion/{{educacion.id}}" type="submit">editar</button>
            </div>
          </div>
          


        </div>
      </div>
    </div>

  </div>