<nav class="navbar navbar-expand-lg bg-primary py-0">
  <div class="container-fluid py-1">

      <img src="/assets/img/ic-argprog.png" alt="Bootstrap" width="" height="30">

      <ul class="list-group list-group-horizontal list-unstyled ms-auto">
        <li class="nav-item me-2 ">
          <a class="nav-link active" aria-current="page" href="https://www.instagram.com/ajuzz_fader/">
            <img src="/assets/img/ic-instagram.png" alt="...">
          </a>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link active" aria-current="page" href="http://wa.me/5491153742054">
            <img src="/assets/img/ic-wsp.png" alt="...">
          </a>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link active" aria-current="page" href="#">
            <img src="/assets/img/ic-linkedin.png" alt="https://www.linkedin.com/in/agustin-rios-79a774235/">
          </a>
        </li>
      </ul>
      <form *ngIf ="isLoged==false" class="d-flex" role="search">
        <button class="btn btn-outline-success btn-sm btn-outline-light" routerLink="Login" type="submit">Login</button>
      </form>
      <form *ngIf ="isLoged==true" class="d-flex" role="search">
        <button (click)="onLogOut()" class="btn btn-outline-success btn-sm btn-outline-light" routerLink="Login" type="submit">Logout</button>
      </form>
  </div>
</nav>



<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img [src]="miPortfolio.bannerDos" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5></h5>
        <p></p>
      </div>
    </div>
  </div>

  <div class="container-fluid position-absolute top-0 start-0 z-2">
    <img src="/assets/img/perfil extendido.png" alt="" class="img-fluid">
  </div>

</div>