<div class="container my-4 bg-primary rounded-5">

  <div class="row">
    <h1 class="my-3 align-middle fw-bold d-inline text-white text-center py-0 px-3">Experiencia   <button *ngIf ="isLoged==true" class="d-inline btn btn-outline-success btn-sm btn-outline-light py-0" routerLink="/New/experiencia" type="submit">    +    </button></h1>
  </div>

  <div class="row">

    <div class="col">
      <div class="card-group">

        <div *ngFor = "let exp of experiencias" class="card rounded-5 border-0 mb-3 mx-3 mt-0">
          <div class="card-body">

            <div *ngIf="exp.img">
              <img src="" class="card-img-top rounded-5" alt="...">
              <h5 class="card-title">{{exp.img}}</h5>
            </div>

            <h5 class="card-title">{{exp.img}}</h5>
            <h5 class="card-title">{{exp.empresa}}</h5>
            <p class="card-text">{{exp.cargo}}</p>
            <p class="card-text">{{exp.periodo}}</p>
            <p class="card-text"><small class="text-muted">{{exp.descripcion}}</small></p>

            <button *ngIf ="isLoged==true"  (click)="deleteExperiencia(exp.id)" class="d-inline btn-danger btn btn-outline-success btn-outline-light py-0" type="submit">borrar</button><!--routerLink="/EditAndNew/acercaDeMi/{{acercaDeMi.id}}"      (click)="delete(acercaDeMi.id)"-->
            <button *ngIf ="isLoged==true" routerLink="/EditAndNew/experiencia/{{exp.id}}" class="btn btn-outline-success btn-dark btn-outline-light py-0"  type="submit">editar</button>
            
          </div>

        </div>

      </div>

    </div>
  </div>
</div>