<div class="container my-4 bg-light rounded-5">

  <div class="row">
    <h1 class="my-3 align-middle fw-bold d-inline text-primary text-center py-0 px-3">Hard & Soft Skills   <button *ngIf ="isLoged==true" class="d-inline btn btn-outline-success btn-sm btn-outline-dark py-0" routerLink="/New/hardAndSoftSkill" type="submit">    +    </button></h1>
  </div>

  <div class="row">
    <div class="col">

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Área</th>
            <th scope="col">Nombre</th>
            <th scope="col">Nivel</th>
            <th scope="col">Categoria</th>
            <th *ngIf ="isLoged==true" scope="col"></th>
            <th *ngIf ="isLoged==true" scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let skill of skillList">

            <th scope="row" rowspan="">{{skill.area}}</th>

            <td><div><img [src]="skill.img" class="img-thumbnail" width="100" height="" alt="...">{{skill.nombre}}</div> </td>
            <td>
              <div class="progress bg-dark mt-2" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" [ngStyle]="{'width': skill.nivel+'%'}"></div>
              </div>
            </td>
            <td>{{skill.categoria}}</td>
            <td *ngIf ="isLoged==true" >
              <button *ngIf ="isLoged==true" routerLink="/EditAndNew/hardAndSoftSkill/{{skill.id}}" class="btn btn-outline-success btn-dark btn-outline-light py-0"  type="submit">editar</button>
            </td>
            <td *ngIf ="isLoged==true" >
              <button *ngIf ="isLoged==true" (click)="deleteHardAndSoftSkill(skill.id)" class="d-inline btn-danger btn btn-outline-success btn-outline-light py-0" type="submit">borrar</button><!--     (click)="delete(acercaDeMi.id)"-->
            </td>
          </tr>

          
        </tbody>
      </table>

    </div>
  </div>

</div>
