<div class="container my-4">
  <div class="row bg-light rounded-5 ">
    <div class="col my-3 mx-3">

      <h1 class="text-primary text-center">Hard & Soft Skills</h1>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Área</th>
            <th scope="col">Nombre</th>
            <th scope="col">Nivel</th>
            <th scope="col">Categoria</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" rowspan="">Backend</th>
            <td><img src="" alt="">java</td>
            <td>medio</td>
            <td>lenguajes</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><img src="" alt="">spring boot</td>
            <td>medio</td>
            <td>framework</td>
          </tr>
          <tr>
            <th scope="row">Frontend</th>
            <td colspan="1"><img src="" alt="">Angular</td>
            <td>medio</td>
            <td>framework</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td colspan="1"><img src="" alt="">Bootstrap</td>
            <td>medio</td>
            <td>framework</td>
          </tr>
          <tr>
            <th scope="row">Data base</th>
            <td colspan="1"><img src="" alt="">mySQL</td>
            <td>medio</td>
            <td>SGBD</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td colspan="1"><img src="" alt="">maria DB</td>
            <td>medio</td>
            <td>SGBD</td>
          </tr>
          <tr>
            <th scope="row">Diseño</th>
            <td colspan="1"><img src="" alt="">Adobe Ilustrator</td>
            <td>avanzado</td>
            <td>aplicacion</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td colspan="1"><img src="" alt="">Adobe Photoshop</td>
            <td>avanzado</td>
            <td>aplicacion</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
