<div class="container my-4 bg-primary rounded-5">

    <div class="row">
      <h1 class="align-middle fw-bold d-inline text-white text-center py-3 px-3">Acerca de mí   <button *ngIf ="isLoged==true" class="d-inline btn btn-outline-success btn-sm btn-outline-light py-0" routerLink="/New/acercaDeMi" type="submit">    +    </button></h1>  
    </div>

    <div class="row ">
      <div class="col mb-3 mx-3 mt-0">
        

        <div *ngFor = "let acercaDeMi of listaAcercaDeMi"class="mb-4 card text-dark bg-light border-0 rounded-5">


          <div class="card-body ">

            <div *ngIf="acercaDeMi.img" class="mb-3">
              <img [src]="acercaDeMi.img" class="card-img-top rounded-5" alt="...">
            </div>

            <h5 class="card-title mt-3">{{acercaDeMi.titulo}}</h5>
            <p class="card-text">{{acercaDeMi.descripcion}}</p>
            <p class="card-text"><small class="text-muted"></small></p>
            <button *ngIf ="isLoged==true"  (click)="deleteAcercaDeMi(acercaDeMi.id)" class="d-inline btn-danger btn btn-outline-success btn-outline-light py-0" type="submit">borrar</button><!--routerLink="/EditAndNew/acercaDeMi/{{acercaDeMi.id}}"      (click)="delete(acercaDeMi.id)"-->
            <button *ngIf ="isLoged==true" class="btn btn-outline-success btn-dark btn-outline-light py-0" routerLink="/EditAndNew/acercaDeMi/{{acercaDeMi.id}}" type="submit">editar</button>
          </div>
        </div>


      </div>
    </div>
</div>


